<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-brand">Harsh Vardhan, Ph.D.</div>
    <ul class="footer-links">
      <li><a href="mailto:harsh.vardhan@vanderbilt.edu">Email</a></li>
      <li><a href="https://scholar.google.com/citations?user=5u56ksIAAAAJ" target="_blank">Google Scholar</a></li>
      <li><a href="https://github.com/vardhah" target="_blank">GitHub</a></li>
      <li><a href="https://www.researchgate.net/profile/Harsh-Vardhan-3" target="_blank">ResearchGate</a></li>
      <li><a href="https://www.linkedin.com/in/harsh-vardhan-18083548" target="_blank">LinkedIn</a></li>
    </ul>
    <div class="footer-copy">
      Institute for Software Integrated Systems, Vanderbilt University, Nashville, TN 37235
    </div>
  </div>
</footer>
